// CHECKED 1.0
.productList {
  table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;

    tr {
      td,
      th {
        text-align: left;
        border: 1px solid;
        padding: 8px;

        &:last-child {
          text-align: right;
        }

        > span {
          display: inline-block;
          border-radius: 4px;
          padding: 2px 4px;
          border: 1px solid;

          &.rejected {
            background-color: #dc2828;
          }

          &.accepted {
            background-color: green;
          }

          &.unspecified {
            background-color: #333;
          }
        }

        button {
          border: 1px solid;
          border-radius: 4px;
          margin-left: 5px;
          background-color: #333;
          color: inherit;
          cursor: pointer;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      &.loading {
        opacity: 0.5;
        td,
        th {
          button {
            cursor: progress;
          }
        }
      }

      &.hasError {
        background-color: #dc2828;
      }
    }
  }

  .errorContainer {
    color: #dc2828;
  }
}
