// CHECKED 1.0
.loginForm {
  max-width: 600px;
  margin: 0 auto;
  background: #333;
  border: 1px solid #eee;
  padding: 30px;
  border-radius: 8px;

  .inputContainer {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 4px;
    }

    input {
      width: 100%;
      padding: 6px 8px;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #333;
      color: #eee;
    }
  }

  .btnContainer {
    button {
      border: 1px solid #eee;
      border-radius: 4px;
      background: transparent;
      padding: 4px 12px;
      font-weight: bold;
      cursor: pointer;
      color: #eee;
    }
  }

  .errorContainer {
    color: #dc2828;
  }
}
